@font-face {
  font-family: 'BM JUA';
  font-weight: normal;
  font-style: normal;
  src: url('font/BM-JUA.eot');
  src: url('font/BM-JUA.eot?#iefix') format('embedded-opentype'),
    url('font/BM-JUA.woff') format('woff'),
    url('font/BM-JUA.svg#BM-JUA') format('svg'),
    url('font/BM-JUA.ttf') format('truetype');
}

*{
	font-family:'BM JUA', 'Jeju Gothic' !important;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul li{
  margin :5px auto;
}
